<div id="alert">
  <div class="alert alert-success" role="alert" *ngIf="this.showAlert == 1" style="text-align: center;">
    تم اضافه التعليق بنجاح
  </div>
  
  <div class="alert alert-danger" role="alert" *ngIf="this.fillGapsAlert == 1" style="text-align: center;">
   برجاء ملئ البيانات الفارغه
  </div>
</div>

<div dir="rtl" class="border" style="background-color: white">
  <div>
    <h2
      class="text-center"
      style="
        color: #004f83;
        font-weight: bold;
        font-size: 2rem;
        font-family: 'Cairo', sans-serif;
      "
    >
      نحن نهتم برأيك ونتطلع لمعرفته
    </h2>
  </div>
  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      (click)="generateAgencies()"
      (change)="onSelectAgency($event.target)"
    >
      <option selected>اختر الجهه</option>
      <option *ngFor="let agency of agencies" [value]="agency">
        {{ agency }}
      </option>
    </select>
  </div>

  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      (click)="generateBranches()"
      (change)="onSelectBranch($event.target)"
    >
      <option selected>اختر الفرع</option>
      <option *ngFor="let branch of branches" [value]="branch">
        {{ branch }}
      </option>
    </select>
  </div>

  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      
      (change)="onSelectService($event)"
    >
      <option selected>اختر الخدمه</option>
      <option *ngFor="let service of services" [value]="service.name">
        {{ service.name }}
      </option>
    </select>
  </div>

  <div class="container">
    <div class="mb-3">
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
        style="color: #004f83"
        >اضف تعليقك</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>

  <button
    type="button"
    class="btn solid"
    style="
      width: 17%;
      padding: 11px;
      background-color: #f39762;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      color: white;
      border-radius: 26px;
      margin-right: 40%;
      margin-top: 19px;
    "
    onmouseover="this.style.backgroundColor='#004f83';"
    onmouseout="this.style.backgroundColor='#f39762'"
    (click)="addReview()"
  >
    ارسال
  </button>
  <div class="left">
    <img src="../../../assets/review.svg" class="image" alt="" />
  </div>
</div>
