<html dir="rtl" class="border">
  <div>
    <h2
      class="text-center"
      style="
        color: #35e0c2;
        font-weight: bold;
        font-size: 2rem;
        font-family: 'Cairo', sans-serif;
      "
    >
      نحن نهتم برأيك ونتطلع لسماعه
    </h2>
  </div>
  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      (click)="generateAgencies()"
      (change)="onSelectAgency($event.target)"
    >
      <option selected>اختر الجهه</option>
      <option *ngFor="let agency of agencies" [value]="agency">
        {{ agency }}
      </option>
    </select>
  </div>

  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      (click)="generateBranches()"
      (change)="onSelectBranch($event.target)"
    >
      <option selected>اختر الفرع</option>
      <option *ngFor="let branch of branches" [value]="branch">
        {{ branch }}
      </option>
    </select>
  </div>

  <div class="container">
    <select
      class="form-select"
      aria-label="Default select example"
      (click)="generateServices()"
      (change)="onSelectService($event.target)"
    >
      <option selected>اختر الخدمه</option>
      <option *ngFor="let service of services" [value]="service">
        {{ service }}
      </option>
    </select>
  </div>

  <div class="container">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >اضف تعليقك</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>

  <button
    type="button"
    class="btn container"
    style="width: 15%; background-color: #35e0c2"
    (click)="addReview()"
  >
    ارسال
  </button>
</html>
