
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid" style="background: linear-gradient(to right, #1abc9c, #3498db);margin-top: -8px; height: 75px;" >
            <ul class="navbar-nav ms-auto mb-2" style="font-size: 24px; font-weight: bold;">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login-signup'"> تسجيل الدخول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/products'"> التطبيقات</a>
                </li>
            </ul>
        </div>
    </nav>
  