a {
    color: antiquewhite;
}

li a:hover{
    color: #e0caad;
    font-size: 26px;
}

/* Small screens */
@media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin-bottom: 10px;
    }
  }

  /* Medium screens */
  @media (min-width: 576px) and (max-width: 768px) {
    .navbar-nav {
      flex-direction: row;
    }
    .nav-item {
      margin-right: 10px;
    }
  }