.container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 20px;
    place-content: center;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
  }
  