<div
  class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary container"
  dir="rtl"
>
  <!-- Vertical Navbar -->

  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <div class="row">
          <div>
            <div style="font-size: 30px">بياناتك الشخصيه</div>
            <hr class="col-md-12" />
            <form
              class="mb-6 row mb-3"
              style="font-size: 20px"
              [formGroup]="userForm"
            >
              <div class="row mb-3">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="name">الأسم</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      formControlName="name"
                      value="{{ userData.name }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="password">كلمة المرور</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="password"
                      formControlName="password"
                      value="{{ userData.password }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4" *ngIf="userType === 'citizen'">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="nationalId"
                      >الرقم القومي</label
                    >
                    <input
                      type="tel"
                      class="form-control"
                      id="nationalId"
                      disabled
                      value="{{ userData.nationalId }}"
                    />
                  </div>
                </div>
              </div>

              <div
                class="row mb-4"
                *ngIf="
                  userType === 'agencySupervisor' ||
                  userType === 'branchSupervisor'
                "
              >
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="govId">الرقم التعريفي</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="govId"
                      disabled
                      value="{{ userData.govId }}"
                    />
                  </div>
                </div>
              </div>

              <div
                class="row mb-4"
                *ngIf="
                  userType === 'agencySupervisor' ||
                  userType === 'branchSupervisor'
                "
              >
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="supervisionType"
                      >نوع الموظف</label
                    >
                    <input
                      type="tel"
                      class="form-control"
                      id="supervisionType"
                      disabled
                      value="{{ userData.userType }}"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-4" *ngIf="userType === 'agencySupervisor'">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="agencyName">اسم الجهه</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="agencyName"
                      disabled
                      value="{{ userData.agencyName }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4" *ngIf="userType === 'branchSupervisor'">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="branchName">اسم الفرع</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="branchName"
                      disabled
                      value="{{ userData.branchName }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4" *ngIf="userType === 'citizen'">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="email"
                      >البريد الاليكتروني</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      disabled
                      value="{{ userData.email }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4" *ngIf="userType === 'citizen'">
                <div class="col-md-12">
                  <div>
                    <label class="form-label" for="phoneNumber"
                      >رقم التليفون</label
                    >
                    <input
                      type="tel"
                      class="form-control"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                      value="{{ userData.phoneNumber }}"
                    />
                  </div>
                </div>
              </div>

              <div style="display: flex; justify-content: center; gap: 10px">
                <div>
                  <button
                    type="button"
                    class="btn btn-lg btn-outline-danger me-2"
                    (click)="cancelProfileChanges()"
                  >
                    الغاء
                  </button>
                </div>

                <div>
                  <button
                    type="submit"
                    class="btn btn-lg"
                    (click)="saveProfileChanges()"
                    style="background-color: #004f83; color: #ffff;"
                  >
                    حفظ
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
