<!DOCTYPE html>
<html dir="rtl">
  <head>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="sidebar">
      <div class="logo_details">
        <div class="logo_name" style="margin-top: 5%; margin-right: 15%">
          القائمه الرئيسيه
        </div>
        <i class="bx bx-menu" id="btn" (click)="toggle()"></i>

      </div>
      <ul class="nav-list">
        
        <li *ngIf="userType == 'admin'">
          <a>
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name" (click)="goToSection('charts', '/admin')"
              >احصائيات الموقع</span
            >
          </a>
        </li>
        <li *ngIf="userType == 'admin'">
          <a>
            <i class='bx bxs-user-check'></i>           
            <span
              class="link_name"
              (click)="goToSection('agencySupervisorTable', '/admin')"
            >
              قبول او رفض مديرين الجهه</span
            >
          </a>
        </li>
        <li *ngIf="userType == 'admin'">
          <a>
            <i class='bx bxs-user-check'></i>           
             
            <span
              class="link_name"
              (click)="goToSection('branchSupervisorTable', '/admin')"
            >
              قبول او رفض مديرين الفرع
            </span>
          </a>
        </li>
        <li *ngIf="userType == 'admin'">
          <a>
            <i class="bx bx-grid-alt"></i>
            <span class="link_name" (click)="goToSection('agencyTable', '/admin')"
              >الجهات</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'admin'">
          <a>
            <i class='bx bxs-plus-square'></i>
            <span class="link_name" (click)="goToSection('addAgency', '/admin')">
              اضافه جهه الجديده</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'admin'">
          <a>
            <i class="bx bx-plus-circle"></i>
            <span class="link_name" (click)="goToSection('addApp', '/admin')">
              اضافه تطبيق جديد</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'admin'">
          <a>
            <i class='bx bx-minus-circle' ></i>            
            <span class="link_name" (click)="goToSection('deleteApp', '/admin')">
              حذف تطبيق جديد</span
            >
          </a>
        </li>

        
        <!----------------------------------------------------------------------------------------------->

        <li *ngIf="userType == 'citizen'">
          <a href="/home">
            <i class="bx bxs-home"></i>
            <span class="link_name"> الصفحه الرئيسية </span>
          </a>
        </li>

        <li *ngIf="userType == 'citizen'">
          <a href="/profile">
            <i class="bx bxs-user-circle"></i>
            <span class="link_name"> الملف الشخصي </span>
          </a>
        </li>

        <li *ngIf="userType == 'citizen'">
          <a href="/apps">
            <i class="bx bx-devices"></i>
            <span class="link_name"> التطبيقات و المواقع الحكومية </span>
          </a>
        </li>

        <li *ngIf="userType == 'citizen'">
          <a href="/view-document">
            <i class="bx bx-file-find"></i>
            <span class="link_name"> استعلام عن الخدمات </span>
          </a>
        </li>

        <li *ngIf="userType == 'citizen'">
          <a href="/add-review">
            <i class="bx bx-comment-add"></i>
            <span class="link_name"> اضف رأيك </span>
          </a>
        </li>

        <li *ngIf="userType == 'citizen'">
          <a href="/history">
            <i class="bx bx-history"></i>
            <span class="link_name"> التعليقات السابقه</span>
          </a>
        </li>

        <!----------------------------------------------------------------------------------------------------->

        <li *ngIf="userType == 'agencySupervisor'">
          <a href="/profile">
            <i class="bx bxs-user-circle"></i>
            <span class="link_name"> الملف الشخصي </span>
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a href="/dash-board">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name"
              >احصائيات الموقع</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a (click)="goToSection('agencyTable', '/add-service-and-branch')">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name"
              >خدمات الجهه</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a (click)="goToSection('serviceForm', '/add-service-and-branch')">
            <i class="bx bxs-add-to-queue"></i>
            <span class="link_name" > اضف خدمة جديدة </span>
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a (click)="goToSection('branchForm', '/add-service-and-branch')">
            <i class='bx bxs-location-plus'></i>
            <span class="link_name" > اضف فرع جديد </span>
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a (click)="goToSection('deleteBranch', '/add-service-and-branch')">
            <i class='bx bxs-trash'></i>
            <span class="link_name" > حذف فرع  </span>
          </a>
        </li>

        <li *ngIf="userType == 'agencySupervisor'">
          <a href="/view-document">
            <i class='bx bx-edit'></i>
            <span class="link_name">  تعديل الخدمات </span>
          </a>
        </li>

        
        <!----------------------------------------------------------------------------------------------------->

        <li *ngIf="userType == 'branchSupervisor'">
          <a href="/profile">
            <i class="bx bxs-user-circle"></i>
            <span class="link_name"> الملف الشخصي </span>
          </a>
        </li>

        <li *ngIf="userType == 'branchSupervisor'">
          <a href="/dash-board">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name"
              >احصائيات الموقع</span
            >
          </a>
        </li>

        <li *ngIf="userType == 'branchSupervisor'">
          <a (click)="goToSection('reviewsTable', '/dash-board')">
            <i class='bx bxs-chat'></i>
            <span class="link_name"> تعليقات الفرع</span>
          </a>
        </li>

        <li *ngIf="userType == 'branchSupervisor'">
          <a href="/branchServices">
            <i class="bx bxs-add-to-queue"></i>
            <span class="link_name"> خدمات الفرع</span>
          </a>
        </li>



        <!----------------------------------------------------------------------------------------------------->

        <li class="logOut"(click)="logOut(); loginToggle()">
          <div class="name" style="margin-top: 5%; margin-right: 15%">
            تسجيل خروج
          </div>

          <i
            class="bx bx-log-out logout"
            id="log_out"
            
          ></i>
        </li>
      </ul>
    </div>
  </body>
</html>
