<!DOCTYPE html>
<html dir="rtl">

<head>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bx-menu" id="btn" (click)="toggle()"></i>
    </div>
    <ul class="nav-list">
      <!--<li>
        <i class="bx bx-search"  ></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
      </li>-->
      <li *ngIf="userType == 'admin'">
        <a>
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name"(click)="goToSection('charts')">احصائيات الموقع</span>
        </a>
      </li>
      <li *ngIf="userType == 'admin'">
        <a>
          <i class="bx bx-user"></i>
          <span class="link_name"(click)="goToSection('agencySupervisorTable')">طلبات اداره الجهه</span>
        </a>
      </li>
      <li *ngIf="userType == 'admin'">
        <a>
          <i class="bx bx-user"></i>
          <span class="link_name" (click)="goToSection('branchSupervisorTable')">طلبات اداره الفرع</span>
        </a>
      </li>
      <li *ngIf="userType == 'admin'">
        <a>
          <i class="bx bx-grid-alt"></i>
          <span class="link_name" (click)="goToSection('agencyTable')">الجهات</span>
        </a>
      </li>
      <li *ngIf="userType == 'admin'">
        <a>
          <i class='bx bx-plus-circle'></i>
          <span class="link_name" (click)="goToSection('addAgency')"> اضافه جهه الجديده</span>
        </a>
      </li>
      


      <li *ngIf="userType == 'citizen'">
        <a href="/profile">
          <i class='bx bxs-user-circle' ></i>
          <span class="link_name">   الملف الشخصي </span>
        </a>
      </li>



      <li *ngIf="userType == 'citizen'">
        <a href="/apps">
          <i class='bx bx-devices'></i>
          <span class="link_name">  التطبيقات الحكومية </span>
        </a>
      </li>

      <li *ngIf="userType == 'citizen'">
        <a href="/add-review">
          <i class='bx bx-comment-add' ></i>
          <span class="link_name"> اضف رأيك </span>
        </a>
      </li>


     

        <li *ngIf="userType == 'citizen'">
        <a href="/history">
          <i class='bx bx-history'></i>
          <span class="link_name"> الصفحه الرئيسية </span>
        </a>
      </li>

      <li *ngIf="userType == 'citizen'">
        <a href="/home">
          <i class='bx bxs-home'></i>
          <span class="link_name"> الصفحه الرئيسية </span>
        </a>
      </li>

      <!--
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="link_name">Message</span>
        </a>
        <span class="tooltip">Message</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          <span class="link_name">File Manger</span>
        </a>
        <span class="tooltip">File Manger</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
       -->
      <li class="profile">
        <div class="name" style="margin-top: 5%;margin-right: 15%;">تسجيل خروج </div>

        <i class="bx bx-log-out" id="log_out" (click)="logOut(); loginToggle()"></i>

      </li>

    </ul>
  </div>


</body>

</html>