
  <!--
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid" style="background: linear-gradient(to right, #1abc9c, #3498db);margin-top: -8px; height: 48px;" >
            <ul class="navbar-nav ms-auto mb-2" style="font-size: 24px; font-weight: bold;">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login-signup'"> تسجيل الدخول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/products'"> التطبيقات</a>
                </li>
            </ul>
        </div>
    </nav>
  -->

  <!DOCTYPE html>
<html dir="rtl">
<head>
  
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bx-menu" id="btn" (click)="isSideBarOpened = !isSideBarOpened"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"  ></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="link_name">Message</span>
        </a>
        <span class="tooltip">Message</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          <span class="link_name">File Manger</span>
        </a>
        <span class="tooltip">File Manger</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div >
          <div >
            <div class="name">log out </div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
 
 
</body>
</html>