<!DOCTYPE html>
<html dir="rtl">

<body>
  <div class="container">
    <div *ngFor="let app of apps" class="card-container" [class.flipped]="app.flipped">
      <div class="card-front card-content">
        <div>
          <img src="{{ app.cover }}" alt="App Cover Image"  />
          <div>
            <p><a href={{app.link}}> 
              <b>{{ app.name }}</b> <i class='bx bx-link'></i></a>
            
            </p>

            <div class="flip" (click)="app.flipped = !app.flipped">
              <span>لمعرفه التفاصيل </span>
              <i class="fas fa-hand-point-left"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content card-back">
        <p>
          {{ app.description }}
        </p>
        
        <div class="flip" (click)="app.flipped = !app.flipped">
          <i class="fas fa-chevron-circle-left"></i>
          <span> رجوع الي التطبيق </span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
