<!--<div class="all">
  <ul>
      <li *ngFor="let app of apps">
          <a routerLink="">
              <img src="{{app.cover}}" alt="">
              <div class="content">
                  <div class="name">
                     {{app.name}}
                  </div>
                  <div class="price">
                      <span>
                          {{app.rate}}
                      </span>
                  </div>
              </div>
          </a>
      </li>
  </ul>
</div>-->
<div *ngFor="let app of apps" class="card-container" [class.flipped]="app.flipped">
  <div class="card-front">
    <img src="{{ app.cover }}" alt="App Cover Image" />
    <div class="card-content">
      <h3>{{ app.name }}</h3>
      <button (click)="app.flipped = !app.flipped">Flip Card</button>
    </div>
  </div>
  <div class="card-back">
    <div class="card-content">
      <p>{{ app.description }}</p>
      <button (click)="app.flipped = !app.flipped">Flip Card</button>
    </div>
  </div>
</div>



<!--<div class="container">
  <div class="card">
    <div class="front"></div>
    <div class="back">
      <h1>Back of Card</h1>
      <p>Additional info on the back of the card</p>
    </div>
  </div>
</div>-->