@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: aliceblue;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  margin-top: -1%;
  margin-left: 9% ;
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 45%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.avatar-container img {
  width: 32%;
}

.wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.wave-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: right;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.2rem;
  text-align: right;
  outline: none;
  border: 1px solid green;
  border-radius: 26px;
  margin: 8px;
}

.radio-group {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.radio-group label {
  margin-right: 1rem;
  margin-right: 0;

}

button {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  background-size: 200%;
  cursor: pointer;
  background-image: linear-gradient(to right, #64a1df, #38d39f, #64a1df);
  //background-image: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  transition: 0.5s;
}

button:hover {
  background-color: #64a1df;
  background-position: right;
}

button:active {
  transform: translateY(7px);
}

