@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap%27');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
    margin-bottom: 0px;
    margin-left: 0px;
}
h1{
    font-size: 70px;
    color: orange;
    position: absolute;
    top: 50%;     /* Align the top of the header to the middle of the viewport /
    left: 60%;    / Align the left of the header to the middle of the viewport /
    transform: translate(-50%, -50%); / Move the header up and left by half of its own size */

}