<app-header></app-header>

<div class="home-container">
  <div class="all-apps">
    <div class="gov-apps">
      <div class="top">
        <h4>Trending Movies</h4>
        <div class="view-all">View All</div>
      </div>
      <div class="apps-thumbnail">
        <div class="app" *ngFor="let app of apps">
          <div class="cover" (click)="goToApp(app.id)">
            <img [src]="app.cover" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToApp(app.id)">{{ app.name }}</div>
            <div class="rating">
              <span class="rating-value">{{ app.rate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
