<table class="table" dir="rtl">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">#</th>
      <th scope="col">التعليق</th>
      <th scope="col">اسم الخدمه</th>
      <th scope="col">الحالة</th>
      
    </tr>
  </thead>
  <tbody  *ngIf="reviews.length > 0; else noData">
    <tr *ngFor="let review of reviews; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{ review.description }}</td>
      <td>{{ review.destination }}</td>
      <td>{{ review.state }}</td>
    </tr>
  </tbody>
  <ng-template #noData>
    <tr>
      <td colspan="4">
        <b> لا يوجد بيانات </b>
      </td>
    </tr>
  </ng-template>
</table>
