
<html id="main-content" [ngClass]="{ 'sidebar-open': isOpen$ | async }">

<table  dir="rtl">
  <thead  style="background-color: #004f83; color: white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">التعليق</th>
      <th scope="col">اسم الخدمه</th>
      <th scope="col">الحالة</th>
      
    </tr>
  </thead>
  <tbody  *ngIf="reviews.length > 0; else noData">
    <tr *ngFor="let review of reviews; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{ review.description }}</td>
      <td>{{ review.destination }}</td>
      <td [ngClass]="{
        'green-border': review.state === 'تم الحل',
        'red-border': review.state === 'قيد الانتظار',
        'orange-border': review.state === 'قيد التنفيذ'
      }">{{ review.state }}</td>
    </tr>
  </tbody>
  <ng-template #noData>
    <tr>
      <td colspan="4">
        <b> لا يوجد بيانات </b>
      </td>
    </tr>
  </ng-template>
</table>

</html>
